@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 50px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    /*------------
        Header
    ------------*/
    .mob_header .logo
    {
        margin-right: auto;
    }

    .mob_header .logo img
    {
        height: 70px;
    }


    .mob_header .contacts
    {
        display: none;
    }


    .mob_header .cart_link,
    .mob_header .mob_menu_link
    {
        margin-left: 20px;
    }


    #mob_search_modal form .input
    {
        padding-left: 25px;
    }



    header .callback_btn
    {
        font-size: 13px;

        display: block;

        height: auto;
        margin-top: 32px;
        margin-left: 0;
        padding: 7px 14px;
    }

    header .phone
    {
        font-size: 17px;

        display: block;

        margin-top: 32px;
        margin-right: auto;
        margin-left: 0;
    }


    header .links
    {
        margin-top: 15px;

        order: 3;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 35px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 35px;
    }

    .block_head .title
    {
        font-size: 26px;
        line-height: 32px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *,
    .form .columns > *.width1of3,
    .form .columns > *.width2of3
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .form .recovery .btn
    {
        font-size: 13px;
    }


    .form .submit_btn
    {
        font-size: 14px;

        height: 40px;
        padding: 9px 22px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h2
    {
        font-size: 23px;
    }


    .text_block ol li
    {
        min-height: 32px;
        padding-left: 50px;
    }

    .text_block ol li + li
    {
        margin-top: 20px;
    }

    .text_block ol li:before
    {
        font-size: 30px;
        line-height: 38px;
    }


    .text_block ul li
    {
        min-height: 40px;
        padding-left: 55px;

        background-size: 40px 40px;
    }

    .text_block ul li + li
    {
        margin-top: 20px;
    }


    .text_block blockquote,
    .text_block q
    {
        min-height: 0;
        padding: 20px;

        background: #0c9cd8;
    }

    .text_block blockquote:before,
    .text_block q:before
    {
        display: none;
    }



    /*----------------------
        Checkout success
    ----------------------*/
    .checkout_success .data
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }

    .checkout_success .data .desc
    {
        font-size: 14px;
    }

    .checkout_success .data .links
    {
        margin-top: 35px;
    }

    .checkout_success .data .links > * + *
    {
        margin-left: 20px;
    }

    .checkout_success .data .lk_link
    {
        font-size: 14px;

        height: 40px;
        padding: 9px 20px 10px;
    }

    .checkout_success .data .home_link
    {
        font-size: 14px;

        height: 40px;
        padding: 9px 20px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .data .sub_title
    {
        font-size: 22px;
        line-height: 26px;
    }



    /*---------------
        About now
    ---------------*/
    .about_now
    {
        padding-bottom: 0;
    }



    /*-------------------
        Gallery block
    -------------------*/
    .gallery_block .row
    {
        margin-bottom: -10px;
        margin-left: -10px;
    }

    .gallery_block .row > *,
    .gallery_block .row > *.middle
    {
        width: calc(50% - 10px);
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .gallery_block .row > *.big
    {
        width: calc(100% - 10px);
    }



    /*-------------
        History
    -------------*/
    .history .block_title
    {
        font-size: 25px;
    }


    .history .block_desc
    {
        margin-bottom: 40px;
    }


    .history .logos > *
    {
        max-width: calc(50% - 20px);
    }


    .history .link
    {
        width: 100%;
        margin-top: 30px;
    }



    /*---------------
        Cats wall
    ---------------*/
    .cats_wall .big_cat .info
    {
        padding: 20px 25px;
    }

    .cats_wall .big_cat .name
    {
        font-size: 22px;
        line-height: 28px;
    }

    .cats_wall .big_cat .desc
    {
        font-size: 14px;
        line-height: 140%;
    }

    .cats_wall .big_cat .price
    {
        right: 20px;
        bottom: 20px;
    }



    .cats_wall .list .cat .info
    {
        padding: 20px;
    }

    .cats_wall .list .cat .name
    {
        font-size: 22px;
        line-height: 28px;
    }

    .cats_wall .list .cat .desc
    {
        font-size: 14px;
        line-height: 140%;
    }



    /*------------------
        Has question
    ------------------*/
    .has_question .form .agree
    {
        width: 100%;
        margin-bottom: 20px;
    }

    .has_question .form .submit_btn
    {
        width: 100%;
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe form .input
    {
        width: 100%;
        margin-bottom: 15px;
        padding: 0 25px;
    }

    .subscribe form .submit_btn
    {
        font-size: 14px;

        width: 100%;
        height: 40px;
        padding: 9px 22px;
    }



    /*--------------
        Products
    --------------*/
    .products .product .period
    {
        top: 10px;
        left: 10px;
    }

    .products .product .check
    {
        top: 10px;
        right: 10px;
    }

    .products .product .info
    {
        margin-top: 12px;
    }

    .products .product .name
    {
        line-height: 18px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head .name
    {
        font-size: 22px;
        line-height: 26px;

        width: calc(100% - 75px);
    }



    .article_info .bottom
    {
        margin-top: 40px;
    }


    .article_info .back_link
    {
        padding: 9px 22px;

        align-self: flex-start;
    }


    .article_info .share
    {
        font-size: 15px;
        line-height: 21px;

        width: 156px;
    }

    .article_info .share span
    {
        margin-bottom: 7px;
    }

    .article_info .share a + a
    {
        margin-left: 15px;
    }



    /*-----------------------
        Promo buy product
    -----------------------*/
    .promo_buy_product .name
    {
        font-size: 22px;
        line-height: 30px;
    }



    /*--------------
        Checkout
    --------------*/
    .checkout .block_title
    {
        font-size: 22px;

        margin-bottom: 15px;
        padding-left: 50px;
    }

    .checkout .block_title .number
    {
        font-size: 25px;
        line-height: 120%;
    }


    .checkout_info .data
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding: 20px 20px 1px;
    }


    .checkout_info .payment_methods .logos img
    {
        max-width: 68px;
    }

    .checkout_info .payment_methods .logos > * + *
    {
        margin-left: 20px;
    }


    .checkout .form .submit_btn
    {
        width: 100%;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .product
    {
        padding-left: 20px;
    }

    .cart_info .product .thumb
    {
        position: relative;
        top: 0;
        left: 0;

        width: 130px;
        height: 160px;
        margin: 0 0 15px;
    }

    .cart_info .product .info,
    .cart_info .product .amount
    {
        margin-left: 0;
    }

    .cart_info .product .name
    {
        font-size: 18px;
        line-height: 125%;

        padding-right: 0;
    }


    .cart_total .name
    {
        font-size: 15px;

        width: 150px;
    }

    .cart_total .val
    {
        width: calc(100% - 170px);
    }

    .cart_total .total
    {
        margin-top: 15px;
        padding-top: 10px;
    }

    .cart_total .total .price b
    {
        font-size: 22px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .info .title
    {
        font-size: 22px;
        line-height: 28px;
    }


    .contacts_info .info .item
    {
        font-size: 15px;
        line-height: 140%;
    }

    .contacts_info .info .item .name
    {
        margin-bottom: 5px;
    }


    .contacts_info .info .socials
    {
        margin-top: 0;
    }


    .contacts_info .info .requisites
    {
        width: 100%;
    }

    .contacts_info .info .requisites .size,
    .contacts_info .info .requisites .download
    {
        margin-top: 0;
    }



    .contacts_info .feedback .form .agree
    {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .contacts_info .feedback .form .submit_btn
    {
        width: 100%;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .slide .cont
    {
        min-height: 492px;
        padding-top: 40px;
    }

    .main_slider .slide .info
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding: 32px 20px;
    }

    .main_slider .slide .title
    {
        font-size: 24px;
    }



    /*--------------------
        Promo products
    --------------------*/
    .promo_products .product
    {
        padding: 40px 120px 40px 24px;
    }

    .promo_products .product .thumb
    {
        bottom: 0;

        min-width: 160px;
        height: 272px;
    }


    .promo_products .product .thumb.relative + .price
    {
        margin-top: 124px;
    }


    .promo_products .product.big
    {
        padding-right: 172px;
    }

    .promo_products .product.big .thumb
    {
        right: 16px;

        height: 56%;
    }

    .promo_products .product.big .price
    {
        margin-top: 40px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .item
    {
        font-size: 15px;
        line-height: 21px;

        min-height: 55px;
        padding-left: 75px;
    }

    .advantages .item .icon
    {
        height: 55px;
    }

    .advantages .item .icon img
    {
        max-width: 55px;
    }

    .advantages .item .name
    {
        font-size: 19px;
        line-height: 23px;
    }



    /*----------------
        Info block
    ----------------*/
    .info_block .slide .info
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding: 32px 20px;
    }

    .info_block .slide .info .desc
    {
        font-size: 14px;
        line-height: 20px;
    }

    .info_block .slide .info .desc > * + *
    {
        margin-top: 16px;
    }



    /*-------------
        Lk info
    -------------*/
    .lk_info .head .user
    {
        min-height: 60px;
        padding-left: 80px;
    }

    .lk_info .head .user .avatar
    {
        font-size: 24px;
        line-height: 60px;

        width: 60px;
        height: 60px;
    }


    .lk_info .head .links button
    {
        font-size: 13px;
    }

    .lk_info .head .links button + button
    {
        margin-left: 20px;
    }


    .lk_info .head .logout
    {
        font-size: 15px;

        margin-top: 10px;
    }


    .lk_info .orders .block_title
    {
        font-size: 22px;
    }

    .lk_info .orders .types button
    {
        font-size: 11px;
        line-height: 32px;

        padding: 0 11px;
    }


    .lk_info .orders .order .number
    {
        width: 100%;
    }

    .lk_info .orders .order .status
    {
        margin-top: 12px;
    }

    .lk_info .orders .order .desc
    {
        font-size: 17px;

        margin-top: 12px;
    }

    .lk_info .orders .order .desc button
    {
        font-size: 17px;
    }



    .lk_info .my_products .remember
    {
        font-size: 15px;

        position: relative;

        padding-right: 80px;
    }

    .lk_info .my_products .remember label
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        margin: auto;
    }


    .lk_info .my_products .product .thumb
    {
        width: 100px;
        height: 125px;
    }

    .lk_info .my_products .product .thumb + .info
    {
        width: calc(100% - 115px);
    }

    .lk_info .my_products .product .duration
    {
        margin-top: 10px;
    }


    .lk_info .my_products .all
    {
        font-size: 15px;
    }



    .lk_info .my_product_head .remember
    {
        font-size: 15px;

        position: relative;

        padding-right: 80px;
    }

    .lk_info .my_product_head .remember label
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        margin: auto;
    }


    .lk_info .my_product_list .product
    {
        padding-left: 20px;
    }

    .lk_info .my_product_list .product > * + *
    {
        margin-left: 0;
    }

    .lk_info .my_product_list .product .thumb
    {
        position: relative;
        top: 0;
        left: 0;

        width: 130px;
        height: 160px;
        margin: 0 0 15px;
    }

    .lk_info .my_product_list .product .name
    {
        font-size: 18px;
        line-height: 125%;

        padding-right: 0;
    }

    .lk_info .my_product_list .product .duration
    {
        margin-left: 0;
    }



    /*-------------
        Support
    -------------*/
    .support .block_title
    {
        font-size: 25px;
    }


    .support .page_links .row
    {
        padding: 0 10px;
    }

    .support .page_links a
    {
        font-size: 11px;

        margin: 0 0 10px;
        padding: 8px 17px;
    }



    /*---------------
        Documents
    ---------------*/
    .documents .block .title
    {
        font-size: 22px;
        line-height: 28px;
    }


    .documents .document
    {
        padding: 20px;
    }

    .documents .document .name
    {
        font-size: 17px;
        line-height: 23px;
    }

    .documents .document .size
    {
        font-size: 14px;
    }



    /*---------
        Faq
    ---------*/
    .faq .item .title
    {
        font-size: 17px;
        line-height: 23px;

        padding-right: 60px;
    }

    .faq .item .title:before
    {
        right: 20px;

        width: 20px;
        height: 2px;
    }

    .faq .item .title:after
    {
        right: 29px;

        width: 2px;
        height: 20px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images .thumbs
    {
        display: none;
    }


    .product_info .product_name
    {
        font-size: 23px;
        line-height: 27px;
    }


    .product_info .buy_info .discount
    {
        width: 100%;
    }

    .product_info .buy_info .discount .val
    {
        font-size: 60px;

        height: 45px;
        margin-top: 0;
    }

    .product_info .buy_info .discount + .info
    {
        width: 100%;
    }


    .product_info .features .item .name,
    .product_info .features .item .val
    {
        width: 100%;
    }

    .product_info .features .item .val
    {
        margin-top: 3px;
        padding-left: 0;
    }



    /*-----------------
        How it work
    -----------------*/
    .how_it_work .items .title
    {
        font-size: 22px;
    }



    /*-------------------
        Promo product
    -------------------*/
    .promo_product .head.light:before
    {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;

        content: '';

        opacity: .5;
        background: #000;
    }


    .promo_product .head .info
    {
        margin-top: 50px;
    }

    .promo_product .head .info .title
    {
        font-size: 25px;
        line-height: 31px;
    }

    .promo_product .head .info .title span
    {
        font-size: 50px;
        line-height: 20px;
    }

    .promo_product .head .info .price,
    .promo_product .head .info .buy_btn
    {
        width: 50%;
        margin-top: 20px;
    }

    .promo_product .head .info .price + .price,
    .promo_product .head .info .price + .buy_btn
    {
        margin-left: 0;
    }

    .promo_product .head .info .price .val b
    {
        font-size: 26px;
    }



    .promo_product .page_links button
    {
        font-size: 12px;

        margin: 0 0 5px;
        padding: 6px 11px;
    }

    .promo_product .page_links .buy_btn b
    {
        font-size: 15px;
    }



    .promo_product .info_block .info .title span
    {
        line-height: 40px;
    }



    /*--------------------
        Features block
    --------------------*/
    .features_block .cont > * + *
    {
        margin-top: 50px;
    }


    .features_block .tech .row > *
    {
        width: calc(100% + 1px);
    }


    .features_block .list .block_title
    {
        font-size: 25px;
        line-height: 31px;

        margin-bottom: 20px;
    }

    .features_block .list .item .name,
    .features_block .list .item .val
    {
        width: 100%;
    }

    .features_block .list .item .val
    {
        margin-top: 3px;
        padding-left: 0;
    }



    /*-----------------
        Product kit
    -----------------*/
    .product_kit .kit_total .discount
    {
        min-height: 90px;
        padding: 15px;
    }

    .product_kit .kit_total .discount .val
    {
        font-size: 60px;

        height: 40px;
    }


    .product_kit .kit_total .info
    {
        padding: 15px;
    }

    .product_kit .kit_total .price
    {
        margin-top: 30px;
    }

    .product_kit .kit_total .price b
    {
        font-size: 28px;
    }



    /*------------
        Footer
    ------------*/
    footer .info .title
    {
        margin-bottom: 15px;
    }


    footer .info .links .list > * + *,
    footer .menu > * + *
    {
        margin-top: 10px;
    }


    footer .socials
    {
        width: auto;
    }

    footer .socials a + a
    {
        margin-left: 15px;
    }



    footer .bottom .links > *
    {
        width: 100%;
    }

    footer .bottom .links > * + *
    {
        margin-top: 3px;
        margin-left: 0;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 20px 25px 35px;
    }


    .modal_title .date
    {
        font-size: 16px;
    }


    .modal .form .submit .btn
    {
        font-size: 14px;

        height: 40px;
        padding: 9px 22px;
    }



    #login_modal .form .submit
    {
        padding-right: 0;
        padding-left: 0;
    }



    .order_info_modal .product .name
    {
        font-size: 17px;
    }

    .order_info_modal .bottom
    {
        justify-content: center;
    }

    .order_info_modal .repeat_btn
    {
        width: 100%;
        margin-bottom: 15px;
    }



    #buy_modal .cart_info .product .price
    {
        line-height: 50px;

        position: absolute;
        top: 0;
        left: 100%;

        margin: 0;
    }


    #buy_modal .kit .title
    {
        font-size: 19px;
        line-height: 120%;
    }

    #buy_modal .kit .product .add_to_cart
    {
        padding: 0 20px;
    }

    #buy_modal .kit .product .thumb + .info
    {
        width: calc(100% - 96px);
    }


    #buy_modal .links
    {
        margin: 35px -25px 0;
        padding: 25px;
    }

    #buy_modal .links > * + *
    {
        margin-top: 12px;
        margin-left: 0;
    }

    #buy_modal .links .continue,
    #buy_modal .links .checkout_link
    {
        width: 100%;

        text-align: center;
    }
}
